.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Висота на всю сторінку */
    background-color: #f0f2f5;
  }
  
  .profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .description {
    padding-bottom: 15px;
  }
  
  .avatar {
    width: 100px;
    border-radius: 50%;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .tag,
  .location {
    color: gray;
  }
  
  .stats {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
  }
  
  .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  